/* Custom styles for documentation */

.param-role {
    font-family: var(--font-stack--monospace);
    background-color: var(--color-background-secondary);
    padding: 0.1em 0.3em;
    border-radius: 3px;
    font-size: 0.9em;
}